@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Major Mono Display';
  max-width: 100vw;
  /* text-rendering: geometricPrecision; */
}

button {
  padding: 0px;
  border: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

input, textarea {
  -webkit-appearance: none;
}
input, textarea {
  border-radius: 0;
}

h1 {
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
